@use './mixins' as *;

.nv-section-hero {
  .header {
    @include container;
  }

  .image-container {
    @include container-left;   
    height: 331px;
    position: relative;  

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 20px 0px 0px 20px;
    }
  }
}
