@use './mixins' as *;

.nv-section-product {
  margin-top: 24px;
  display: grid;
  @include container-right;
  grid-template-columns: 107fr 220fr;
  column-gap: 24px;

  @include media(tablet) {
    margin-top: 40px;
    @include container;
    grid-template-columns: 214fr 445fr;
    column-gap: 30px;
  }

  @include media(laptop) {
    margin-top: 30px;
    grid-template-columns: 255fr 30px 445fr 125px 260px;
    column-gap: 0;
  }

  .picture {
    width: 100%;
    height: 193px;
    overflow: hidden;

    @include media(tablet) {
      height: 320px;
    }

    @include media(laptop) {
      height: 480px;
    }

    &:first-of-type {
      background: #f16718;
      border-radius: 0px 20px 20px 0px;

      @include media(tablet) {
        border-radius: 20px;
      }

      .image {
        opacity: 0.75;
        mix-blend-mode: multiply;
      }
    }

    &:last-of-type {
      border-radius: 20px;

      @include media(tablet) {
        margin-top: 15px;
      }

      @include media(laptop) {
        grid-column: 3 / span 1;
        margin-top: 0;
      }
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .header {
    grid-column: 1 / span 2;
    @include container-left;
    margin-top: 75px;

    @include media(tablet) {
      display: flex;
      justify-content: space-between;
      gap: 36px;
      margin-left: 0;
      margin-top: 57px;
    }

    @include media(laptop) {
      grid-column: 5 / span 1;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0;
      margin-top: 112px;
    }

    .title {
      font-weight: 900;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      color: #162542;
      max-width: 255px;
      margin-inline: auto;

      @include media(tablet) {
        text-align: left;
        width: 255px;
      }

      @include media(laptop) {
        width: 100%;
      }
    }

    .text {
      margin-top: 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #7b8bad;

      @include media(tablet) {
        margin-top: 0;
        width: 398px;
        text-align: left;
      }

      @include media(laptop) {
        margin-top: 27px;
        width: 100%;
      }
    }
  }
}
