@use './mixins' as *;

.nv-section-features {
  margin-top: 111px;
  @include container;
  display: grid;
  justify-items: center;
  gap: 64px;

  @include media(tablet) {
    grid-template-columns: 281px 281px;
    justify-items: start;
    gap: 72px 69px;
  }

  @include media(laptop){
    grid-template-columns: repeat(4, 255px);
    gap: 0;
    justify-content: space-between;
    margin-top: 168px;
  }
}

.nv-card-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 281px;

  @include media(tablet){
    align-items: flex-start;
  }

  .icon-container {
    width: 65px;
    height: 65px;
    background: #f16718;
    border-radius: 16px;
    display: grid;
    place-items: center;
  }

  .title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #162542;
    margin-top: 48px;

    @include media(tablet){
      margin-top: 40px;
      text-align: left;
    }

    @include media(laptop){
      margin-top: 48px;
    }
  }

  .text {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7b8bad;

    @include media(tablet){
      text-align: left;
    }
  }
}
