@use './mixins' as *;

.nv-topbar {
  margin-top: 23px;
  @include container;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(tablet){
    margin-top: 40px;
  }

  @include media(laptop){
    margin-top: 55px;
  }

  .call-to-action {
    width: 151px;
    height: 48px;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #162542;
    background: #e8eff2;
    border-radius: 8px;

    &:hover {
      background: #162542;
      color: #ffffff;
    }
  }
}
